.error {
    font-size: 14px;
    color: red;
}

button.logoutBtn {
    width: 100%;
    border: none;
    background: white;
    height: 100%;
    text-align: left;
    padding-left: 10%;
}

.file-input {
    width: 100% !important;
}

div#modal_theme_danger {
    background-color: #8080806b;
}
